{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/change-email.css' %}">
   
{% endblock extra_css %}

{% block content %} 
<div class="container_change_email">
    <form method="POST" action="{% url 'create_todo_list' %}">
        {% csrf_token %}
        {{ form.name.label }}
        {{ form.name }}
        
        {{ form.description.label }}
        {{ form.description }}
        
        <div class="checkbox-label">
            {{ form.is_private }}
            {{ form.is_private.label }}
        </div>

        <div class="button-container">
            <button type="submit" class='btn btn-complete'><i class="fas fa-save"></i>Save</button>
        </div>
    </form>

</div>


{% endblock %}
