<!-- password_reset_request.html -->
{% extends 'base/home.html' %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/auth-forms.css' %}">


{% endblock %}
{% block content %}

<div class="auth-container">
    <div class="auth-form-wrapper">
        <h2 class="auth-title">Foregt Password</h2>
        <form method="POST" class="auth-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            
            <button type="submit" class="auth-button">Send Pin</button>
        </form>
    </div>
</div>
{% endblock %}